<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签</title>
    <link href="../static/css/blogsheet.css" rel="stylesheet">
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="../static/js/blog.js"></script>
</head>
<body>
{{template "/block/nav.html" .}} <!--引用模板的时候,如果有变量,需要在引入的后面添加点 "."-->
<div id="main">
    <form method="psot" enctype="multipart/form-data">
        <input type="file" id="album-upload-file">
        <input type="submit" id="album-upload-button" value="提交文件">
    </form>

    <div id="album-box">
        {{range .Album}}
        <div class="album-item" style='background-image: url("{{.Filepath}}")'>

        </div>
                {{end}}
    </div>



</div>
</body>
</html>